<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>SysBiox-MVC</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/7ea7bf875f.js" crossorigin="anonymous"></script>
    <meta name="google-signin-scope" content="profile email">
    <meta name="google-signin-client_id" content="199078515632-q7dgfn39igo885jkb875hgdbv73gm4ka.apps.googleusercontent.com">
    <script src="https://apis.google.com/js/platform.js" async defer></script>    
    <script src="https://accounts.google.com/gsi/client" async defer></script>
  </head>
